# environment variables
.env*
!.env.example
!.env*.example

.idea/
# .claude/
.vscode/

# node
node_modules/
dist/
*.log
.turbo/

# macOS
.DS_Store

docs/.obsidian/workspace.json
docs/.obsidian/graph.json

# not our skills
.claude/skills/*
!.claude/skills/lazyit*
impeccable/

api_example/